@import '../../../../styles/variables.scss';

.thisDay {
    padding: 20px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    max-width: 400px;
    width: 100%;
    background: $lite-background;
}

.topBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;

    svg {
        width: 119px;
        height: 119px;
    }

    .temp {
        font-size: 96px;
        color: $primary-color;
        font-weight: 500;
    }

    .day {
        font-size: 40px;
        font-weight: 400;
    }
}

.bottomBlock {
    color: $light-color;
    font-size: 25px;
    font-weight: 400;
}